extends ../shared/template

block content
  table.table.table-bordered.table-hover.table-condensed#showTable
    thead
      tr
        td bpm
        td key
        td song
        td artist
        td album
        td genre
        td.glyphicon.glyphicon-trash
    tbody
      each song in songs
        tr
          td= song.BPM
          td= song.Key
          td= song.Song
          td= song.Artist
          td= song.Album
          td= song.genre
          td
            input(type='checkbox')
