extends ../shared/template

block content
  .page-header
    h1= playlist.name
  .controls.col-md-2
    //- input.playlistId.hidden(value='#{playlist._id}', placeholder='#{playlist.name}')
    //- .input-group
    //-   input.form-control(type='number', name='move', placeholder='check song, +/-')
    //-   span.input-group-btn
    //-     button.btn.btn-default.glyphicon.glyphicon-sort(type='button')#move song

    button.btn.btn-default(type='button')#deleteSong remove selected songs
    #showMessages
  .col-md-10
    //- h1.playlistId(value='#{playlist._id}')= playlist.name
    table.table.table-bordered.table-hover.table-condensed.showTable
      thead
        tr
          td.glyphicon.glyphicon-ok
          th bpm
          th key
          th song
          th artist
          th album
          th genre

      tbody
        each song in songs
          tr
            td
              input(type='checkbox', value='#{song._id}')
            td= song.BPM
            td= song.Key
            td= song.Song
            td= song.Artist
            td= song.Album
            td= song.genre
